body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; 
}


.logo {
    position: absolute;
    width: 225px;
    height: 75px;
}

.top-bar {
    position: fixed;
    top: 0;
    height: 75px;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 100000;
}

.top-bar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.top-bar ul li {
    display: inline;
    margin-right: 40px;
}

.top-bar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 2.5;
}



.profile-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
    margin: 10px 0;
}

.contact-button {
    display: block;
    width: 150px;
    padding: 10px 15px;
    text-align: center;
    background-color: #af4c4c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
}

.contact-button:hover {
    background-color: #922d2d;
}